[submodule "extern/jwt-cpp"]
	path = extern/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "extern/cpp-httplib"]
	path = extern/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "extern/sqlite_orm"]
	path = extern/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git
[submodule "extern/libpqxx"]
	path = extern/libpqxx
	url = https://github.com/jtv/libpqxx.git
